<navbar></navbar>
<div class="container">
	<div class="jumbotron">
		<h1>NG6-Starter-Extended</h1>
		<p>
			This <a href="https://github.com/AngularClass/NG6-starter" target="blank">NG6-Starter</a> fork includes <a href="http://sass-lang.com/" target="blank">SASS</a> support instead of Stylus, <a href="http://getbootstrap.com/" target="blank">Bootstrap</a> and <a href="http://fontawesome.io/" target="blank">Font-Awesome</a> to help you kickstart faster your AngularJS apps.
		</p>
		<p>
			Just clone and use!
		</p>
		<p>
			<a class="btn btn-lg btn-primary" href="https://github.com/AngularClass/NG6-starter" target="blank"><i class="fa fa-lg fa-github" aria-hidden="true"></i> NG6-Starter</a>
			<a class="btn btn-lg btn-default" href="https://github.com/YoannBureau/NG6-Starter-Extended" target="blank"><i class="fa fa-lg fa-github" aria-hidden="true"></i> NG6-Starter-Extended</a>
		</p>
	</div>
</div>